<div class="event-div" id=<%= event.eventid %> >
    <p class="event-div-header">
        <span class="feed-item-creator">
            <span class="event-creator">
                <%= event.firstname %> <%= event.lastname %>
            </span>
            <span class="event-creator-profile">
                <a href="/user/<%= event.login %>" >@<%= event.login %></a>
            </span>
            <span class="event-creator-city">
                <%= event.usercity %>
            </span>
        </span>
        <span class="feed-item-date">
            <%= event.startdate.toString().substring(0,15) %>
        </span>
    </p>
    <p class="event-restaurant">
        Eating at <b><%= event.name %></b> 📍<%= event.city %> at <b><%= event.starttime.substring(0,5) %></b>
    </p>
    <% if(user.type === 'USER' && event.login!==user.data.login) { %>
        <% if(!event.attendees.includes(user.data.login)) { %>
            <button id=<%= `${event.eventid}-join` %> name="evid" onclick="<%=`joinEvent(${event.eventid})`%>">
                Join Event
            </button>
        <% } else { %>
            <button id=<%= `${event.eventid}-unjoin` %> name="evid" onclick="<%=`unjoinEvent(${event.eventid})`%>">
                Not Interested
            </button>
        <% } %>
    <% } else if(user.type === 'USER' && event.login===user.data.login) { %>
        <button id=<%= `${event.eventid}-delete` %> name="evid" onclick="<%=`deleteEvent(${event.eventid})`%>">
            Cancel Event
        </button>
    <% } %>
    <% if(event.count>0) { %>
    <details id=<%= `${event.eventid}-attendance-details` %>>
        <summary>With <span id=<%= `${event.eventid}-attendance-count` %>><%= event.count %></span></summary>
        <ul id=<%= `${event.eventid}-attendance-list` %> class="attendance-list">
            <% for (let attender of event.attendees) { %>
                <a href="/user/<%= attender %>"><li>@<%= attender %></li></a>
            <% } %>
        </ul>
    </details>
    <% } %>
</div>