<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a>
          Grababite
        </a>
      </li>
      <li>
        <% if(user.type=='USER'){ %>
        <a
          href="/user/<%=user.data.login%>"
          class="<%= path===`/user/${user.data.login}` ? 'active' : '' %>"
        >
          Profile
        </a>
        <% } else { %>
        <a
          href="/restaurant/<%=user.data.id%>"
          class="<%= path===`/restaurant/${user.data.id}` ? 'active' : '' %>"
        >
          Profile
        </a>
        <% } %>
      </li>
      <li>
        <% if(user.type=='USER'){ %>
        <a href="/feed" class="<%= path === '/feed' ? 'active' : '' %>"
          ><span class="glyphicon glyphicon-home"></span> 
          Feed
          </a>
          <% } %>
      </li>
      <li>
        <a href="/RestaurantSearch" class="<%= path === '/feed' ? 'active' : '' %>"
          ><span class="glyphicon glyphicon-home"></span> Restaurant List</a
        >
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/logout"
          ><span class="glyphicon glyphicon-book"></span> Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
