<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="/feed">Grababite</a>
    <ul class="nav navbar-nav mr-auto">
    <% if(user.type=='USER'){ %>
      <li class="<%= path===`/user/${user.data.login}` ? 'active' : '' %>">
        <a href="/user/<%=user.data.login%>">
          Profile
        </a>
      </li>
    <% } else { %>
      <li class="<%= path===`/restaurant/${user.data.id}` ? 'active' : '' %>">
        <a href="/restaurant/<%=user.data.id%>">
          Profile
        </a>
      </li>
    <% } %>
      <li class="nav-link <%= path === '/feed' ? 'active' : '' %>">
        <a href="/feed">
          <span class="glyphicon glyphicon-home"></span> 
          Feed
        </a>
      </li>
      <li class="<%= path === '/RestaurantSearch' ? 'active' : '' %>">
        <a href="/RestaurantSearch">
          <span class="glyphicon glyphicon-home"></span>
          Restaurant List
        </a>
      </li>

      <li class="<%= path === '/Search' ? 'active' : '' %>"> 
        <a href="/Search">
          <span class="glyphicon glyphicon-home"></span>
          User/Restaurant Search
        </a>
        
      </li>


    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/logout"
          ><span class="glyphicon glyphicon-book"></span> Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
