<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="like_button.js"></script>

<div class="event-feed">
    <% if(events && events.length > 0) { %>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            let socket = io();
            let socketdata;

            socket.on('push', (socketin) => {
                socketdata = document.getElementById('socketdata');
                socketdata.innerHTML = 'Socket data' + socketin;
        });
        </script>
        <h2 id="socketdata"></h2>
        <% for (let event of events) { %>
            <div class="event-div" id=<%= `event:${event.id}` %> >
                <p class="event-div-header">
                    <span class="feed-item-creator">
                        <span class="event-creator">
                            <%= event.firstname %> <%= event.lastname %>
                        </span>
                        <span class="event-creator-profile">
                            <a href="/user/<%= event.login %>" >@<%= event.login %></a>
                        </span>
                        <span class="event-creator-city">
                            <%= event.usercity %>
                        </span>
                    </span>
                    <span class="feed-item-date">
                        <%= event.startdate.toString().substring(0,15) %>
                    </span>
                </p>
                <p class="event-restaurant">
                    Eating at <b><%= event.name %></b> 📍<%= event.city %> at <b><%= event.starttime.substring(0,5) %></b>
                </p>
                <% if(event.login!==user.data.login && user.type === 'USER') { %>
                    <% if(!event.attendees.includes(user.data.login)) { %>
                        <form action="/event/join" method="POST">
                            <input name="login" value="<%= user.data.login%>" style="visibility: hidden;" />
                            <button type="submit" name="evid" value=<%= event.eventid %> >Join Event</button>
                        </form>
                    <% } else { %>
                        <form action="/event/unjoin" method="POST">
                            <input name="login" value="<%= user.data.login%>" style="visibility: hidden;" />
                            <button type="submit" name="evid" value=<%= event.eventid %> >Not Interested</button>
                        </form>
                    <% } %>
                <% } %>
                <% if(event.count>0) { %>
                <details>
                    <summary>With <%= event.count %> other <%= event.count==1? 'person':'people' %>  </summary>
                    <ul>
                        <% for (let attender of event.attendees) { %>
                            <li><%= attender %> </li>
                        <% } %>
                    </ul>
                </details>
                <% } %>
            </div>
            <% } %>

    <% } else { %>
        <h1>
            There are no upcoming events, why not start one?
        </h1>
    <% } %>
</div>