
<!DOCTYPE html>
<html lang="en-US">

<head>
  <%- include ('../partials/header.ejs'), {pageTitle: pageTitle} %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/follow.css" />
</head>

<body>

<%- include ('../partials/nav.ejs'), {path: path} %>
<div id="follow-unfollow">
<% if (pageTitle === "Following"){%>
  <% if (followingcount === 0){%>
    <h3 style="position: relative; left: 40px;";">THERE IS NO FOLLOWING</h3>
    <% } else {%>
    <div class="container">
     <h2 class="pn">FOLLOWING</h2>
     <p class="fl"><%=followingcount%> Followings</p>
     <table class="table">
        <tbody >
          <%for(var i=0;i<following.length;i++){%>
          <%var json = following[i];%>
             <tr>
             <td>
               <button class="followbuttons" 

               onclick = "location.href='/user/<%=json.destinationfriend%>'" ">
               <%=json.destinationfriend%>
             </td>
             </tr>
              <%}%>
        </tbody>
      </table>
    </div>
  <%} %>

<%} else if(pageTitle === "Follower") {%>
  <% if (followercount === 0){%>
    <h3 style="position: relative; left: 40px;">THERE ARE NO FOLLOWERS</h3>
  <%} else {%>
    <div class="container">
     <h2 class="pn">FOLLOWERS</h2>
     <p class="fl"><%=followercount%> Followers</p>
     <table class="table">
        <tbody >
          <%for(var i=0;i<follower.length;i++){%>
          <%var json = follower[i];%>
             <tr>
             <td>
               <button class="followbuttons" onclick = "location.href='/user/<%=json.sourcefriend%>'" style="cursor:pointer;">
               <%=json.sourcefriend%>
             </td>
             </tr>
              <%}%>
        </tbody>
      </table>
    </div>
  <%}%>
<%}%>
</div>
</body>
</html>
