<!DOCTYPE html>
<html>
  <head> </head>

  <body style="border: solid black; padding-bottom: 300px;">
    <div class="container">
      <div
        style="
          font-size: 30px;
          background-color: black;
          color: white;
          padding-top: 13px;
          padding-left: 25px;
          padding-bottom: 13px;
          font-weight: bold;
        "
      >
        Grababite
      </div>

      <ul>
        <%if (typeof errors != "undefined"){ errors.forEach(function(error){ %>
        <%=error.msg %> <%});} %>
      </ul>

      <div style="position: relative; left: 50px;">
        <h2>Restaurant Profile Creation</h2>

        <div style="border: solid black; margin-right: 600px; padding: 30px;">
          <form name="adduser" action="reguser" method="post">
            <span style="font-size: 20px;">Enter Username:</span>
            <input
              type="text"
              id="username"
              name="username"
              value="<%= typeof username != 'undefined' ? username : '' %>"
              maxlength="12"
              required
              style="border: solid grey;"
            /><br />
            <p id="iderr" style="color: red;"></p>
            <span style="font-size: 20px;"> Enter First name:</span
            ><input
              type="text"
              id="first_name"
              name="first_name"
              value="<%= typeof first_name != 'undefined' ? first_name : '' %>"
              maxlength="12"
              required
              style="border: solid grey;"
            /><br />
            <p id="nameerr" style="color: red;"></p>
            <span style="font-size: 20px;"> Enter Last Name:</span>
            <input
              type="text"
              id="last_name"
              name="last_name"
              value="<%= typeof last_name != 'undefined' ? last_name : '' %>"
              maxlength="12"
              required
              style="border: solid grey;"
            /><br />
            <p id="cityerr" style="color: red;"></p>
            <span style="font-size: 20px;"> Enter City:</span>
            <input
              type="text"
              id="city"
              name="city"
              maxlength="12"
              required
              value="<%= typeof city != 'undefined' ? city : '' %>"
              style="border: solid grey;"
            /><br />
            <p id="passerr" style="color: red;"></p>

            <span style="font-size: 20px;"> Enter Password:</span>
            <input
              type="text"
              id="password"
              name="password"
              maxlength="12"
              required
              value="<%= typeof password != 'undefined' ? password : '' %>"
              style="border: solid grey;"
            /><br />
            <input type="submit" value="CREATE USER PROFILE" />
          </form>
          <p id="Errormsg"></p>
        </div>
      </div>
    </div>

    <style media="screen">
      #subbut:hover {
        cursor: pointer;
        background-color: lightgray;
      }
    </style>
  </body>
</html>
