<!DOCTYPE html>
<html>
  <head> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/registeruser.css" />
  </head>

  <body style="border: solid black; padding-bottom: 600px; overflow-x: hidden;">
    <div class="container">
      <div id="headtitle">
        Grababite
      </div>
      <div id="animatepage">
      <ul>
        <%if (typeof errors != "undefined"){ errors.forEach(function(error){ %>
        <%=error.msg %> <%});} %>
      </ul>

      <div style="position: relative; left: 50px;">
        <h2 style="position: relative; left: 38%; font-family: Arial, Helvetica, sans-serif; font-size: 25px;">User Profile Creation</h2>

        <div  id="userform">
          <form name="adduser" action="reguser" method="post">
            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 18px;">Enter Username:</span>
            <input
              type="text"
              id="username"
              name="username"
              value="<%= typeof username != 'undefined' ? username : '' %>"
              maxlength="12"
              required
              style="border: solid lightgrey; font-size: 14px;"
            /><br />
            <p id="iderr" style="color: red;"></p>
            <span style=" font-family: Arial, Helvetica, sans-serif; font-size: 18px;"> Enter First name:</span
            ><input
              type="text"
              id="first_name"
              name="first_name"
              value="<%= typeof first_name != 'undefined' ? first_name : '' %>"
              maxlength="12"
              required
              style="border: solid lightgrey; font-size: 14px;"
            /><br />
            <p id="nameerr" style="color: red;"></p>
            <span style=" font-family: Arial, Helvetica, sans-serif; font-size: 18px;"> Enter Last Name:</span>
            <input
              type="text"
              id="last_name"
              name="last_name"
              value="<%= typeof last_name != 'undefined' ? last_name : '' %>"
              maxlength="12"
              required
              style="border: solid lightgrey; font-size: 14px;"
            /><br />
            <p id="cityerr" style="color: red;"></p>
            <span style=" font-family: Arial, Helvetica, sans-serif; font-size: 18px;"> Enter City:</span>
            <input
              type="text"
              id="city"
              name="city"
              maxlength="12"
              required
              value="<%= typeof city != 'undefined' ? city : '' %>"
              style="border: solid lightgrey; font-size: 14px;"
            /><br />

            <p id="preferenceser" style="color: red;"></p>
            <label for="preferences">Choose a Preferences:</label>
            <select id="preferences" name="preferences">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
            <option value="canadian">Canadian</option>
            <option value="french">French</option>
            <option value="korean">Korean</option>
            <option value="indian">Indian</option>
            <option value="mexican">Mexican</option>
            <option value="italian">Italian</option>
            <option value="bars">Bars</option>
            <option value="lounges">Lounges</option>
            <option value="seafood">seafood</option>
            <option value="japanese">japanese</option>
            <option value="sushi">sushi</option>
            <option value="coffee">coffee</option>
            <option value="cafes">cafes</option>
            <option value="noodles">noodles</option>
            <option value="ramen">ramen</option>
            <option value="tapas">tapas</option>
            <option value="comfortfood">comfortfood</option>
            <option value="tapasmallplates">tapasmallplates</option>
            <option value="belgian">belgian</option>
            </select> <br/>


            <p id="preferenceser2" style="color: red;"></p>
            <label for="preferences2">Choose a Preferences:</label>
            <select id="preferences2" name="preferences2">
              <option value="lunch">Lunch</option>
              <option value="breakfast">Breakfast</option>
              <option value="dinner">Dinner</option>
              <option value="canadian">Canadian</option>
              <option value="french">French</option>
              <option value="korean">Korean</option>
              <option value="indian">Indian</option>
              <option value="mexican">Mexican</option>
              <option value="italian">Italian</option>
              <option value="bars">Bars</option>
              <option value="lounges">Lounges</option>
              <option value="seafood">seafood</option>
              <option value="japanese">japanese</option>
              <option value="sushi">sushi</option>
              <option value="coffee">coffee</option>
              <option value="cafes">cafes</option>
              <option value="noodles">noodles</option>
              <option value="ramen">ramen</option>
              <option value="tapas">tapas</option>
              <option value="comfortfood">comfortfood</option>
              <option value="tapasmallplates">tapasmallplates</option>
              <option value="belgian">belgian</option>
            </select> <br/>

            <p id="preferenceser3" style="color: red;"></p>
            <label for="preferences3">Choose a Preferences:</label>
            <select id="preferences3" name="preferences3">
              <option value="dinner">Dinner</option>
              <option value="breakfast">Breakfast</option>
              <option value="lunch">Lunch</option>
              <option value="canadian">Canadian</option>
              <option value="french">French</option>
              <option value="korean">Korean</option>
              <option value="indian">Indian</option>
              <option value="mexican">Mexican</option>
              <option value="italian">Italian</option>
              <option value="bars">Bars</option>
              <option value="lounges">Lounges</option>
              <option value="seafood">seafood</option>
              <option value="japanese">japanese</option>
              <option value="sushi">sushi</option>
              <option value="coffee">coffee</option>
              <option value="cafes">cafes</option>
              <option value="noodles">noodles</option>
              <option value="ramen">ramen</option>
              <option value="tapas">tapas</option>
              <option value="comfortfood">comfortfood</option>
              <option value="tapasmallplates">tapasmallplates</option>
              <option value="belgian">belgian</option>
            
            </select> <br/>

            <p id="passerr" style="color: red;"></p>

            <span style=" font-family: Arial, Helvetica, sans-serif; font-size: 18px;"> Enter Password:</span>
            <input
              type="password"
              id="password"
              name="password"
              maxlength="12"
              required
              value="<%= typeof password != 'undefined' ? password : '' %>"
              style="border: solid lightgrey; font-size: 14px;"
            /><br />
            <br><br>
            <input id="submitbutton" type="submit" value="Create User Profile" />
          </form>
          <p id="Errormsg"></p>
        </div>
      </div>
      </div>
    </div>

  </body>
</html>
