<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/header.ejs'), {pageTitle: pageTitle} %>
      </head>

<body>
    <%- include ('../partials/nav.ejs'), {path: path} %>

    <div id="RestaurantSearchside">
        <h2> Search for Restaurants</h2>
        <p style="color:rgb(59, 57, 57)">Search by Restaurant Name, Address, or city</p>
    
        <form action="RestrSearch" method="post" id="search-rest">
            <input type="text" id="Svar" name="Svar"  style="width: 200px;" required>
            <input type="submit" value="Search">
        </form>
    
        <%if (results.rows.length==0) { %>
            <p style="color: red;">No Results Found</p>
         <% } %>
         
    
        <% if (results.rows.length!=0) {%>
    
            <% results.rows.forEach(function(r) { %>
                <div style="border-top: solid lightgrey; padding-bottom: 20px; padding-top:10px">
                <p><span style="font-weight: bold;">Restaurant Name:</span><%=r.name%></p>
                <p><span style="font-weight: bold;">Address:</span><%=r.address%></p>
                <p><span style="font-weight: bold;">City:</span><%=r.city%></p>
                <p><span style="font-weight: bold;">Phone:</span><%=r.phone%></p>
                <p><span style="font-weight: bold;">Rating:</span><%=r.rating%></p>
                <p><span style="font-weight: bold;">Description:</span><%=r.description%></p>
                <%var RestPg="/restaurant/" + r.id%>
                <a href="<%=RestPg%>">
                    <button>
                        Explore
                    </button>
                </a>
            </div>
            <% }); %>
        <% }%>
    
        </div>
</body>
</html>
