<!DOCTYPE html>
<html>
  <head>
    <%- include ('../partials/header.ejs'), {pageTitle: pageTitle} %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/restaurantprofile.css" />
  </head>

  <body style="overflow-x: hidden;">
    <%- include ('../partials/nav.ejs'), {path: path} %>

<div class="container">
    <!-- <a style="float: right;">
         add link to edit page when auth works 
        <button>
          Edit
        </button>
    </a> -->
    <%
      addressNoSpace = results.attributes.address.replace(" ", "+");
      restName = results.attributes.name.replace(" ","+");
      apiKey = process.env.GOOGLE_API;
      src = "https://www.google.com/maps/embed/v1/place?key="+apiKey+"&q=" + restName + "+" + addressNoSpace; 
    %>
    <p id="Headtitle">Restaurant Profile</p>
    <h2 id="restaurantname" ><%=results.attributes.name%></h2>
    <body>
        <img id="picture" src="<%=results.attributes.imageurl%>" alt="Restaurant Image">
        <br><br>
        <div id="Createevent">
        <div style="font-size: large; ">Address: <%=results.attributes.address%></div>
        <div style="font-size: large; ">Phone:<%=results.attributes.phone%></div>
        <div style="font-size: large; ">Price:<%=results.attributes.price%></div>
        <div style="font-size: large;">Yelp Rating:<%=results.attributes.rating%></div>
        <iframe width="600" height="450" src="<%=src%>>" frameborder="0" allowfullscreen></iframe><br><br>
        </div>

        <div id="Eventform">
        <form action="/createEvent" method="post" id="<%= user.type %>" style="font-weight: bold; font-size: 16px;">
            Create an Event at this Restaurant<br> <br>
            <label for="date">DATE:</label>
            <input
              type="date"
              id="date"
              name="date"
              min="2019-01-01"
              value=""
              required
            /><br /><br />
            <label for="time">TIME:</label>
            <input
              type="time"
              id="time"
              name="time"
              min="00:00"
              value=""
              required
            /><br />
            <input name="user" value="<%= user.data.login%>" style="visibility: hidden;" />
            <input name="restaurant" value="<%= results.attributes.id%>" style="visibility: hidden;" />
            <input id="createbutton" type="submit" value="Create Event" />
          </form>
          </div>
          <script type="text/javascript">
            if(document.getElementById("REST") != null){
                document.getElementById("REST").style.visibility = 'hidden';
            }

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            if(dd<10){
                    dd='0'+dd
            } 
            if(mm<10){
                mm='0'+mm
            } 

            day = yyyy+'-'+mm+'-'+dd;
            document.getElementById("date").setAttribute("min", day);
            document.getElementById("date").onchange = function(evt){
                setTimeout(()=>{
                    if(document.getElementById("date").value != day){
                        document.getElementById("time").setAttribute("min", "00:00");
                    }
                    if(document.getElementById("date").value == day) {
                        var hour = today.getHours();
                        var min = today.getMinutes();
                        if(hour<10){
                                hour='0'+hour
                        }
                        
                        if(min<10){
                            min='0'+min
                        }
                        var time = hour+':'+min;
                        document.getElementById("time").setAttribute("min", time);
                    }
                }, 500);
            }  
        </script>
    </body>
</div>

</body>
</html>
