<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/Restaurantloginpage.css" />
  </head>

  <body style="border: solid black; padding-bottom: 300px;">
    <div id="topbar">
      Grababite
    </div>
    <div id="animatepage">
    <ul>
      <%if (typeof errors != "undefined"){ errors.forEach(function(error){ %>
      <%=error.msg %> <%});} %>
    </ul>
    <ul>
      <% if (messages.error) { %>
      <li><%= messages.error %></li>
      <% } %>
    </ul>
    <ul>
      <% if (messages.msg) { %>
      <li><%= messages.msg%></li>
      <% } %>
    </ul>
    <ul>
        <% if (messages==="THE USERNAME OR PASSWORD IS INCORRECT") { %>
            <li><%= messages%></li>
            <% } %>
    </ul>
    <div id="restaurantlogin">
      <h3>Restaurant Login</h3>
      
      <form action="/logrestaurant" method="post">
        <span> Username:</span>
        <input
          type="text"
          id="username"
          name="username"
          value="<%= typeof usernameinput != 'undefined' ? usernameinput : '' %>"
          required
        /><br />
        <span>Password: </span
        ><input
          type="password"
          id="password"
          name="password"
          maxlength="20"
          required
        />
        <br />
        <input name="utype" value="REST" style="visibility: hidden;" /><br />
        <input id="Loginbutton" type="submit" value="Login" />
      </form>
      <p>Please ask Grababite to Register as Restaurant User</p>
  
    </div>
  </div>
  </body>
  
</html>
