<!DOCTYPE html>
<html>
  <head> </head>

  <body style="border: solid black; padding-bottom: 300px;">
    <div
      style="
        font-size: 30px;
        background-color: black;
        color: white;
        padding-top: 13px;
        padding-left: 25px;
        padding-bottom: 13px;
        font-weight: bold;
      "
    >
      Grababite
    </div>
    <ul>
      <%if (typeof errors != "undefined"){ errors.forEach(function(error){ %>
      <%=error.msg %> <%});} %>
    </ul>
    <ul>
      <% if (messages.error) { %>
      <li><%= messages.error %></li>
      <% } %>
    </ul>
    <ul>
      <% if (messages.msg) { %>
      <li><%= messages.msg%></li>
      <% } %>
    </ul>
    <ul>
        <% if (messages==="THE USERNAME OR PASSWORD IS INCORRECT") { %>
            <li><%= messages%></li>
            <% } %>
    </ul>
    <div
      style="
        border: solid black;
        margin-right: 900px;
        position: relative;
        left: 700px;
        top: 100px;
        padding: 10px 40px 40px 30px;
      "
    >
      <h3>Restaurant Login</h3>
      
      <form action="/logrestaurant" method="post">
        <span> ID:</span>
        <input
          type="text"
          id="username"
          name="username"
          value="<%= typeof usernameinput != 'undefined' ? usernameinput : '' %>"
          required
        /><br />
        <span>Password: </span
        ><input
          type="password"
          id="password"
          name="password"
          maxlength="20"
          required
        />
        <br />
        <input name="utype" value="REST" style="visibility: hidden;" /><br />
        <input type="submit" value="Login" />
      </form>
      <p>PLEASE ASK GRABABITE IN ORDER TO REGISTER AS RESTAURANT USER</p>
      <p>FOR TESTING ONLY-> 
        username: Jam
        password: password1
        username: WaterCafe
        password: password1</p>
    </div>
  </body>
  
</html>
