<!DOCTYPE html>
<html>
<head>
    <%- include ('../partials/header.ejs'), {pageTitle: pageTitle} %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/Search.css" />
</head>

<body>
    <%- include ('../partials/nav.ejs'), {path: path} %>
    
    <div id="excludenav">
    <h2 style="position: absolute; left: 30px;">Search For Users</h2>

    <p style="position: absolute; top:170px ;left:150px; font-size:20px ;">Search User by Name or City</p>

    <form id="searchuserform" action="UsrSearch" method="post">
       <input type="text" name="Svar" required>
       <input class="buttons" type="submit" value="Search User">
   </form>

   <form id="Alluserform" action="Search" method="GET">
       <input class="buttons" type="submit" value="Show all Users">
   </form>
    <div id="UserSearchside">
   

   

    <%if (result.rows.length==0) {%>
        <p style="color: red;">No results found</p>
    <%} %>
    <%if (result.rows.length!=0){ %>
       
        <% result.rows.forEach(function(r) { %>
            <div id="users" >
            <p><span style="font-weight: bold;">First Name: </span> <%= r.firstname %>   </p>
            <p><span style="font-weight:bold">Last Name:</span><%=r.lastname %></p>
            <p><span style="font-weight: bold;"><%=r.firstname%>'s City of Residence:</span><%=r.city%></p>
            <p><span style="font-weight:bold">Description of <%=r.firstname%>:</span> <%=r.description%></p>
            <% var UserPg="/user/" + r.login%>
            <a href="<%=UserPg%>">
                <button class="explorebutton">
                    Explore
                </button>

            </a>
        </div>
        <% }); %>
    
    <% }%>

    </div>

    <h2 style="position: absolute; left: 710px;"> Search for Restaurants</h2>
    <p style="position: absolute; top:170px ;left:760px; font-size:20px ;">Search by Restaurant Name, Address, or city</p>

    <form id=Restaurantsearchform  action="RestrSearch" method="post">
        <input type="text" name="Svar"  style="width: 200px;" required>
        <input class="buttons" type="submit" value="Search Restaurant">
    </form>

    <form id="Allrestaurantform" action="Search" method="GET">
        <input class="buttons" type="submit" value="Show all Restaurants">
    </form>


    <div id="RestaurantSearchside">
   

    <%if (result.rows2.length==0) { %>
        <p style="color: red;">No Results Found</p>
     <% } %>
     

    <% if (result.rows2.length!=0) {%>

        <% result.rows2.forEach(function(r) { %>
            <div id="restaurants">
            <p><span style="font-weight: bold;">Restaurant Name:</span><%=r.name%></p>
            <p><span style="font-weight: bold;">Address:</span><%=r.address%></p>
            <p><span style="font-weight: bold;">City:</span><%=r.city%></p>
            <p><span style="font-weight: bold;">Phone:</span><%=r.phone%></p>
            <p><span style="font-weight: bold;">Rating:</span><%=r.rating%></p>
            <p><span style="font-weight: bold;">Description:</span><%=r.description%></p>
            <%var RestPg="/restaurant/" + r.id%>
            <a href="<%=RestPg%>">
                <button class="explorebutton">
                    Explore
                </button>
            </a>
        </div>
        <% }); %>
    <% }%>

    </div>

    <p id="split-page"></p>
</div>
</body>
</html>
