<!DOCTYPE html>
<html>
<head>
  <%- include ('../partials/header.ejs'), {pageTitle: pageTitle} %>

</head>

<body>
    <%- include ('../partials/nav.ejs'), {path: path} %>
        <% if (user.data.login===row.attributes.login){%>
          <div class="container">
            <h1><%=row.attributes.firstname%><%=row.attributes.lastname%> Profile</h1>
            <div class="datail">
              <div class="detail text-xs-center">
                  <br>
                  <div class="detail-block">
                    <h4 class="detail-title">User Details</h4>
                    <p class="detail-text">
                      <form action="/update" method="post">
                        <strong>ID</strong>:<input type="text" name="login" id="login" value="<%=row.attributes.login%>" readonly="readonly"/><br>
                        <strong>Firstname</strong>:<input type="text" name="firstname" id="firstname" value="<%=row.attributes.firstname%>" required/><br>
                        <strong>Lastname</strong>:<input type="text" name="lastname" id="lastname" value="<%=row.attributes.lastname%>" required/><br>
                        <strong>City</strong>:<input type="text" name="city" id="city" value="<%=row.attributes.city%>" required/><br>
                        <strong>Bio</strong>:<input type="text" name="description" id="description" value="<%=row.attributes.description%>" required/><br>
                        <strong>Password</strong>:<input type="password" name="password" id="password" value="<%=row.attributes.password%>" required/><br>
                        <button class ="update" type="submit" name="function" value="update" style="cursor:pointer;">SUBMIT</button>
                      </form>
                    </p>
                </div>
              </div>
           </div>
          <% } %>
</body>
</html>
