<!DOCTYPE html>
<html>
<head>
  <%- include ('../partials/header.ejs'), {pageTitle: pageTitle} %>

</head>

<body>

    <%- include ('../partials/nav.ejs'), {path: path} %>

<div class="container">
    <a style="float: right;"></a>
    <p style="font-size: large;">User Profile</p>
    <h2 style=" border: solid 2pt palevioletred; text-align: center; border-radius: 25;font-size: x-large;"><%=row.login%></h2>
    <body>
      <title><%=row.login%>Page</title>
      <% if( user.type === 'USER'){ %>
        <table>
          <tr>
            <form action="/following" method="post">
              <button type="submit" name="uid" value="<%=row.attributes.login%>" style="float: right;"> FOLLOWING </button>
            </form>
            <form action="/followers" method="post">
              <button type="submit" name="uid" value="<%=row.attributes.login%>"style="float: right;"> FOLLOWER </button>
            </form>
          </tr>
        </table>

        <% if (user.data.login===row.attributes.login){%>

                    <h4 class="detail-title">User Details</h4>
                    <p class="detail-text">
                      <h1> <%=row.attributes.firstname%> <%=row.attributes.lastname%> </h1>
                      <h3> @<%=row.attributes.login%>📍<%=row.attributes.city%>  </h3>
                      <p> <%=row.attributes.description%> </p>
                    </p>
                    <button onclick = "location.href='/update'" style="cursor:pointer;"> UPDATE </button>


      <% } else {  %>
          <h1> <%=row.attributes.firstname%> <%=row.attributes.lastname%> </h1>
          <h3> @<%=row.attributes.login%>📍<%=row.attributes.city%>  </h3>
          <p> <%=row.attributes.description%> </p>

            <% if (user.type === 'USER' && !friend.includes(user.data.login)){ %>
              <form action="/user/follow" method="post">
                <input name="login" value="<%= user.data.login%>" style="visibility: hidden;" />
                <button type="submit" name="uid" value="<%=row.attributes.login%>"> FOLLOW </button>
              </form>

            <% } else if(user.type === 'USER') {  %>
            <form action="/user/unfollow" method="post">
              <input name="login" value="<%= user.data.login%>" style="visibility: hidden;" />
              <button type="submit" name="uid" value="<%=row.attributes.login%>"> UNFOLLOW </button>
            </form>
            <% } %>

        <% } %>
    <% } %>
</div>

</body>
</html>
