<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <title><%=user.data.login%>Page</title>
    <form action="/update" method="post">
      <h1><%=user.data.firstname%><%=user.data.lastname%> Profile</h1>
      <table border="1">
        <tr>
          <td>ID</td>
          <td>
            <input
              type="text"
              name="login"
              id="login"
              value="<%=user.data.login%>"
              readonly="readonly"
            />
          </td>
        </tr>
        <tr>
          <td>First Name</td>
          <td>
            <input
              type="text"
              name="firstname"
              id="firstname"
              value="<%=user.data.firstname%>"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>
            <input
              type="text"
              name="lastname"
              id="lastname"
              value="<%=user.data.lastname%>"
              required
            />
          </td>
        </tr>
        <tr>
          <td>City</td>
          <td>
            <input
              type="text"
              name="city"
              id="city"
              value="<%=user.data.city%>"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Bio</td>
          <td>
            <input
              type="text"
              name="description"
              id="description"
              value="<%=user.data].description%>"
              required
            />
          </td>
        </tr>
        <tr>
          <td>Password</td>
          <td>
            <input
              type="text"
              name="password"
              id="password"
              value="<%=user.data.password%>"
              required
            />
          </td>
        </tr>
        <tr>
          <div>
            <td colspan="2">
              <button
                class="btn2"
                type="submit"
                name="function"
                value="update"
                style="cursor: pointer;"
              >
                Update
              </button>
            </td>
          </div>
        </tr>
      </table>
    </form>
  </body>
</html>
