<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/header.ejs'), {pageTitle: pageTitle} %>
      </head>

<body>
    <%- include ('../partials/nav.ejs'), {path: path} %>

    <div id="UserSearchside">
        <h2>Search For Users</h2>
    
        <p style="color:rgb(59, 57, 57)">Search User by Name or City</p>
    
         <form action="UsrSearch" method="post">
            <input type="text" name="Svar" required>
            <input type="submit" value="Enter">
        </form>
    
        <form action="UserSearch" method="GET">
            <input type="submit" value="Show Users">
        </form>
    
        <%if (results.rows.length==0) {%>
            <p>No results found</p>
        <%} %>
        <%if (results.rows.length!=0){ %>
           
            <% results.rows.forEach(function(r) { %>
            <div style="border-top: solid lightgrey; padding-bottom: 20px; padding-top:10px">
                <p><span style="font-weight: bold;">Username: </span> <%= r.login %>   </p>
                <p><span style="font-weight: bold;">First Name: </span> <%= r.firstname %>   </p>
                <p><span style="font-weight:bold">Last Name:</span><%=r.lastname %></p>
                <p><span style="font-weight: bold;"><%=r.firstname%>'s City of Residence:</span><%=r.city%></p>
                <p><span style="font-weight:bold">Description of <%=r.firstname%>:</span> <%=r.description%></p>
                <% var UserPg="/user/" + r.login%>
                <a href="<%=UserPg%>">
                    <button>
                        Explore
                    </button>
    
                </a>
            </div>
            <% }); %>
        
        <% }%>
    
        </div>
</body>
</html>
